<!DOCTYPE html>
<html lang="en">
  <head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-RX0F2Z43MF"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-RX0F2Z43MF');
		</script>
  	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title> 
    <meta name="description" content="">
	  <meta name="viewport" content="width=device-width, initial-scale=1">

	  <meta property="og:title" content="{{title}}">
	  <meta property="og:type" content="website" />
	  <meta property="og:url" content="{{url}}">
	  <meta property="og:image" content="{{image}}">
	  <meta property="og:description" content="">

  	<link rel="apple-touch-icon" href="/images/icon.png">
  	<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
  	<div id="main" class="grid-container full">
		  <div class="grid-x">
		  	<div class="cell">

		  		{{!- main container --}}
		  		<div class="grid-container main-container">
		  			<div class="grid-x">
		  				<div class="cell">

		  					<header class="header">
		  						<img class="header-logo" src="/images/Joann-Ariola-For-City-Council-Logo.png" alt="Joann Ariola for City Council" />
		  					</header>
					  		
					    	{{{body}}}

					    	<footer>
					    		<div class="grid-container container-inner">
						    		<div class="grid-x align-center">
									  	<div class="cell footer">
									  		<div class="paid-for">Paid for Ariola 2021</div>
									  		<div class="sharethis-inline-share-buttons share-buttons"></div>
									  	</div>
									  </div>
						    	</div>
						    </footer>

					    </div>
					  </div>
					</div>
		    </div>
		  </div>
		</div>
   
  </body>
</html>
